Repository SuhaanSyed/Battleship, pull requests merged in 2024-09, with the labels that each got.

#2 Create board player and piece logic
  battleship_game/README.md
  battleship_game/src/.gitignore
  battleship_game/src/board.py
  battleship_game/src/piece.py
  battleship_game/src/player.py
  battleship_game/src/test_board.py
  battleship_game/src/test_piece.py
Labels: enhancement

#3 Improve tests for game logic
  battleship_game/src/board.py
  battleship_game/src/test_board.py
  battleship_game/src/test_player.py
Labels: bug

#6 Add information about the player name and number of ships the player selected
  battleship_game/src/player.py
  battleship_game/src/test_player.py
Labels: enhancement

#9 Add a time estimate markdown document
  battleship_game/src/player.py
  documentation/time-estimates.md
Labels: documentation

#10 Create a time estimate for code architecture documentation
  documentation/time-estimates.md
Labels: documentation

#13 Create program architecture document
  battleship_game/src/player.py
  battleship_game/src/test_board.py
  battleship_game/src/test_piece.py
  documentation/architecture.md
  documentation/time-estimates.md
Labels: documentation

#20 Improve documentation for board mechanics
  battleship_game/src/board_mechanics/board.py
  battleship_game/src/board_mechanics/piece.py
  battleship_game/src/board_mechanics/player.py
  documentation/time-estimates.md
Labels: documentation

#21 fixed-player-switching-bug
  battleship_game/src/game_mechanics/attack.py
Labels: bug

#22 Fix testing setup
  README.md
  battleship_game/README.md
  battleship_game/src/main.py
  battleship_game/src/tests/__init__.py
  battleship_game/src/tests/grid_hit_testing.py
  battleship_game/src/tests/test_piece.py
  documentation/time-estimates.md
Labels: testing
